<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View MITs</title>
    <link rel="stylesheet" href="/css/oldcss/view.css">
    <link rel="stylesheet" href="/css/oldcss/header.css">

</head>

<body>

<div th:replace="~{fragments/header :: mainHeader}"></div>

<h1 class="page-title">
    MITs for <span th:text="${date}"></span>
</h1>

<div class="mit-wrapper">

    <div class="cards-row">

        <div class="mit-card" th:each="obj : ${objectives}">

            <h2 th:text="${obj.title}"></h2>


            <p class="input"
               style="min-height:260px; text-align:left;">
                <span th:text="${obj.description}"></span>
            </p>


            <div class="status-badge"
                 th:text="${obj.status}"
                 th:classappend="| ${obj.status}|">
            </div>


            <div class="status-badge"
                 th:if="${obj.category != null}"
                 th:text="${obj.category.name}">
            </div>


            <div class="input">
                Created:
                <span th:text="${obj.createdAt}"></span>
            </div>

        </div>

    </div>


    <div class="actions">
        <a href="/catalog" class="btn blue">
            Back
            <span></span><span></span><span></span><span></span>
        </a>
    </div>

</div>

<script src="/js/background.js"></script>

</body>

</html>
