<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="/css/oldcss/home.css">
</head>

<body>


<div class="content">
    <img src="/images/final.png" alt="Logo" width="500" height="500">

    <h1 th:text="${title}"></h1>


    <a class="playbtn" th:href="@{/login}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Start Now !
    </a>


</div>

<script src="/js/background.js"></script>

</body>
</html>
