<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MIT Catalog</title>
    <link rel="stylesheet" href="/css/catalog.css">
    <link rel="stylesheet" href="/css/header.css">

</head>

<body>

<div th:replace="~{fragments/header :: mainHeader}"></div>



<div class="filters">

    <input id="searchBox"
           type="text"
           class="search-box"
           placeholder="Search objectives…">

    <div class="filter-row">

        <input id="userFilter"
               type="text"
               class="filter"
               placeholder="Filter by user…">

        <select id="statusFilter" class="filter">
            <option value="">Filter by status…</option>
            <option value="TODO">To-do</option>
            <option value="IN_PROGRESS">In progress</option>
            <option value="DONE">Done</option>
        </select>

        <input id="dateFilter"
               type="date"
               class="filter">

    </div>

</div>





<div class="page">

    <h1 th:text="${todayText}">Public Objectives</h1>

    <div class="users">

        <div class="user-card" th:each="user : ${users}">

            <!-- DATE BADGE (absolute left) -->
            <div class="date-badge"
                 th:classappend="${user.today} ? ' today'">
                <span th:text="${user.dateLabel}">Today</span>
            </div>

            <!-- TOP-RIGHT CONTROLS (absolute right) -->
            <div class="controls">

                <a th:if="${#lists.size(user.objectives) > 0}"
                   th:href="@{/objectives/{id}/view(id=${user.objectives[0].id})}">
                    View
                </a>

                <a th:if="${user.username == me and #lists.size(user.objectives) > 0}"
                   th:href="@{/objectives/{id}/edit(id=${user.objectives[0].id})}">
                    Edit
                </a>

            </div>


            <a th:href="@{/profile/{username}(username=${user.username})}">
                <img class="avatar" th:src="${user.profileImage}">
            </a>

            <div class="username" th:text="${user.username}">Username</div>


            <!-- OBJECTIVES LIST -->
            <div class="objective"
                 th:each="obj : ${user.objectives}">
                <span th:text="${obj.title}"></span>
            </div>

        </div>



    </div>

</div>

<script src="/js/filters.js"></script>
</body>
</html>
